.canvas{
    width:960px;
    height:540px;
    margin-left:100px;
    background-color:#ffffff;
    -webkit-box-shadow:  0px 0px 29px -5px rgba(0,0,0,0.53);
    -moz-box-shadow:  0px 0px 29px -5px rgba(0,0,0,0.53);
    box-shadow:  0px 0px 29px -5px rgba(0,0,0,0.53);
    position:relative;
    overflow:hidden;
}
